.express
  overflow hidden
  background url(../assets/img/bg-sea.jpg) no-repeat fixed top/100% 39rem
  .main
    overflow: scroll
    height 38.6875rem
    .search
      display flex
      padding 1rem
      .input
        flex-grow 1
        input
          height 3rem
          width 100%
          padding .6rem
          font-size 1.4rem
          border 1px solid #000
          background rgba(255, 255, 255, .5)
          line-height 3rem
          &::placeholder
            color #fff
            font-size 1rem
      .button
        display flex
        align-items center
        justify-content center
        flex-grow 1
        border 1px solid #000
        width 8rem
        border-left 0
        font-size 1.5rem
        background #90d7ec
        .icon-search
          font-size 1.4rem
          margin-left .4rem
    .show
      margin 1rem
      ul
        li
          padding .3rem 0
          background rgba(255, 255, 255, .8)
          margin-bottom .5rem
          .time
            font-size 1.2rem
            margin-bottom .3rem
            font-weight bold
          .remark
            font-size 1rem
            line-height 1.5
