blockquote, body, button, caption, dd, div, span, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, html, input, legend, li, menu, ol, p, pre, table, td, textarea, th, ul
    margin 0
    padding 0
    outline 0
    line-height 1
    font-weight normal
body
  // background #7bbfea
li
  list-style none
a
  text-decoration none
  color #333
img
  /* 避免img元素默认会产生的3px的BUG */
  display: block
html
  font-size 16px
*
  box-sizing border-box
